
DataFrame

    What is spark dataframe?

In [1]:
# Initialize the spark on jupyter notebook

import findspark
findspark.init()


# To create the dataframe in pyspark 

from pyspark.sql import SparkSession

In [2]:
# Initializing the sparksesstion 

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL for FOOD-DATA-GROUP1") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
# Reading the csv file in pyspark 

df = spark.read.csv(r'C:\Users\Wondwossen\Desktop\FINAL FOOD DATASET\FOOD-DATA-GROUP1.csv')

In [5]:
# Show shows the first few entries in the dataframe 
# Notice that the column names are not good 

df.show(2)

+----+----------+------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
| _c0|       _c1|         _c2|          _c3|_c4|           _c5|                 _c6|                 _c7|          _c8|   _c9|   _c10|         _c11|       _c12|  _c13| _c14|     _c15|      _c16|       _c17|       _c18|      _c19|      _c20|      _c21|      _c22|     _c23|     _c24|     _c25|     _c26|   _c27|  _c28| _c29|     _c30|     _c31|      _c32|     _c33|    _c34| _c35|             _c36|
+----+----------+------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
|NULL|Unnamed: 0|        food|Caloric Value|Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper| Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium| Zinc|Nutrition Density|
|   0|         0|cream cheese|           51|  5|           2.9|                 1.3|                 0.2|          0.8|   0.5|    0.9|            0|       14.6| 0.016|  7.6|      0.2|     0.033|      0.064|      0.092|     0.097|     0.084|     0.052|     0.096|    0.004|        0|        0|      0.1|  0.008|  14.1|0.082|    0.027|      1.3|     0.091|     15.5|    19.1|0.039|             7.07|
+----+----------+------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
only showing top 2 rows

In [6]:
# What objects the dataframe contains?
# Year and GDP are string. Sometimes they may cause problem. 

df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)

In [7]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

schema = StructType([StructField('_c0', IntegerType(), True), 
                      StructField('food', StringType(), True), 
                      StructField('Caloric Value', IntegerType(), True), 
                      StructField('Fat', FloatType(), True)
                     ])

In [10]:
# Redefining the dataframe with correct column labels 

df = spark.read.csv(r'C:\Users\Wondwossen\Desktop\FINAL FOOD DATASET\FOOD-DATA-GROUP1.csv', header=True, inferSchema= True)
df.show(2)

+---+----------+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
|_c0|Unnamed: 0|             food|Caloric Value| Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper| Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium| Zinc|Nutrition Density|
+---+----------+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
|  0|         0|     cream cheese|           51| 5.0|           2.9|                 1.3|                 0.2|          0.8|   0.5|    0.9|          0.0|       14.6| 0.016|  7.6|      0.2|     0.033|      0.064|      0.092|     0.097|     0.084|     0.052|     0.096|    0.004|      0.0|      0.0|      0.1|  0.008|  14.1|0.082|    0.027|      1.3|     0.091|     15.5|    19.1|0.039|             7.07|
|  1|         1|neufchatel cheese|          215|19.4|          10.9|                 4.9|                 0.8|          3.1|   2.7|    7.8|          0.0|       62.9|   0.3| 53.6|      0.2|     0.099|      0.079|       0.09|       0.1|       0.2|       0.5|     0.078|      0.0|      0.0|      0.3|    0.045|   99.5| 0.034|  0.1|      8.5|    0.088|     117.3|    129.2|   0.054|  0.7|            130.1|
+---+----------+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
only showing top 2 rows

In [11]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Unnamed: 0: integer (nullable = true)
 |-- food: string (nullable = true)
 |-- Caloric Value: integer (nullable = true)
 |-- Fat: double (nullable = true)
 |-- Saturated Fats: double (nullable = true)
 |-- Monounsaturated Fats: double (nullable = true)
 |-- Polyunsaturated Fats: double (nullable = true)
 |-- Carbohydrates: double (nullable = true)
 |-- Sugars: double (nullable = true)
 |-- Protein: double (nullable = true)
 |-- Dietary Fiber: double (nullable = true)
 |-- Cholesterol: double (nullable = true)
 |-- Sodium: double (nullable = true)
 |-- Water: double (nullable = true)
 |-- Vitamin A: double (nullable = true)
 |-- Vitamin B1: double (nullable = true)
 |-- Vitamin B11: double (nullable = true)
 |-- Vitamin B12: double (nullable = true)
 |-- Vitamin B2: double (nullable = true)
 |-- Vitamin B3: double (nullable = true)
 |-- Vitamin B5: double (nullable = true)
 |-- Vitamin B6: double (nullable = true)
 |-- Vitamin C: double (nullable = true)
 |-- Vitamin D: double (nullable = true)
 |-- Vitamin E: double (nullable = true)
 |-- Vitamin K: double (nullable = true)
 |-- Calcium: double (nullable = true)
 |-- Copper: double (nullable = true)
 |-- Iron: double (nullable = true)
 |-- Magnesium: double (nullable = true)
 |-- Manganese: double (nullable = true)
 |-- Phosphorus: double (nullable = true)
 |-- Potassium: double (nullable = true)
 |-- Selenium: double (nullable = true)
 |-- Zinc: double (nullable = true)
 |-- Nutrition Density: double (nullable = true)

In [12]:
# To count the total rows in the dataframe.

print('Number of rows: \t', df.count())


# Number of columns can be counted in this way

print('Number of columns: \t', len(df.columns))


# To view the names of the columns

print('\nName of columns: \n', df.columns)

Number of rows: 	 551
Number of columns: 	 37

Name of columns:
 ['_c0', 'Unnamed: 0', 'food', 'Caloric Value', 'Fat', 'Saturated Fats', 'Monounsaturated Fats', 'Polyunsaturated Fats', 'Carbohydrates', 'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol', 'Sodium', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2', 'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D', 'Vitamin E', 'Vitamin K', 'Calcium', 'Copper', 'Iron', 'Magnesium', 'Manganese', 'Phosphorus', 'Potassium', 'Selenium', 'Zinc', 'Nutrition Density']

In [14]:
# In pandas head() would do similar thing. It is slighly different here. 
# This method is not recommended for the large dataset. 

df.head(2)

[Row(_c0=0, Unnamed: 0=0, food='cream cheese', Caloric Value=51, Fat=5.0, Saturated Fats=2.9, Monounsaturated Fats=1.3, Polyunsaturated Fats=0.2, Carbohydrates=0.8, Sugars=0.5, Protein=0.9, Dietary Fiber=0.0, Cholesterol=14.6, Sodium=0.016, Water=7.6, Vitamin A=0.2, Vitamin B1=0.033, Vitamin B11=0.064, Vitamin B12=0.092, Vitamin B2=0.097, Vitamin B3=0.084, Vitamin B5=0.052, Vitamin B6=0.096, Vitamin C=0.004, Vitamin D=0.0, Vitamin E=0.0, Vitamin K=0.1, Calcium=0.008, Copper=14.1, Iron=0.082, Magnesium=0.027, Manganese=1.3, Phosphorus=0.091, Potassium=15.5, Selenium=19.1, Zinc=0.039, Nutrition Density=7.07),
 Row(_c0=1, Unnamed: 0=1, food='neufchatel cheese', Caloric Value=215, Fat=19.4, Saturated Fats=10.9, Monounsaturated Fats=4.9, Polyunsaturated Fats=0.8, Carbohydrates=3.1, Sugars=2.7, Protein=7.8, Dietary Fiber=0.0, Cholesterol=62.9, Sodium=0.3, Water=53.6, Vitamin A=0.2, Vitamin B1=0.099, Vitamin B11=0.079, Vitamin B12=0.09, Vitamin B2=0.1, Vitamin B3=0.2, Vitamin B5=0.5, Vitamin B6=0.078, Vitamin C=0.0, Vitamin D=0.0, Vitamin E=0.3, Vitamin K=0.045, Calcium=99.5, Copper=0.034, Iron=0.1, Magnesium=8.5, Manganese=0.088, Phosphorus=117.3, Potassium=129.2, Selenium=0.054, Zinc=0.7, Nutrition Density=130.1)]

In [15]:
# There is also take doing the similar thing 

df.take(3)

[Row(_c0=0, Unnamed: 0=0, food='cream cheese', Caloric Value=51, Fat=5.0, Saturated Fats=2.9, Monounsaturated Fats=1.3, Polyunsaturated Fats=0.2, Carbohydrates=0.8, Sugars=0.5, Protein=0.9, Dietary Fiber=0.0, Cholesterol=14.6, Sodium=0.016, Water=7.6, Vitamin A=0.2, Vitamin B1=0.033, Vitamin B11=0.064, Vitamin B12=0.092, Vitamin B2=0.097, Vitamin B3=0.084, Vitamin B5=0.052, Vitamin B6=0.096, Vitamin C=0.004, Vitamin D=0.0, Vitamin E=0.0, Vitamin K=0.1, Calcium=0.008, Copper=14.1, Iron=0.082, Magnesium=0.027, Manganese=1.3, Phosphorus=0.091, Potassium=15.5, Selenium=19.1, Zinc=0.039, Nutrition Density=7.07),
 Row(_c0=1, Unnamed: 0=1, food='neufchatel cheese', Caloric Value=215, Fat=19.4, Saturated Fats=10.9, Monounsaturated Fats=4.9, Polyunsaturated Fats=0.8, Carbohydrates=3.1, Sugars=2.7, Protein=7.8, Dietary Fiber=0.0, Cholesterol=62.9, Sodium=0.3, Water=53.6, Vitamin A=0.2, Vitamin B1=0.099, Vitamin B11=0.079, Vitamin B12=0.09, Vitamin B2=0.1, Vitamin B3=0.2, Vitamin B5=0.5, Vitamin B6=0.078, Vitamin C=0.0, Vitamin D=0.0, Vitamin E=0.3, Vitamin K=0.045, Calcium=99.5, Copper=0.034, Iron=0.1, Magnesium=8.5, Manganese=0.088, Phosphorus=117.3, Potassium=129.2, Selenium=0.054, Zinc=0.7, Nutrition Density=130.1),
 Row(_c0=2, Unnamed: 0=2, food='requeijao cremoso light catupiry', Caloric Value=49, Fat=3.6, Saturated Fats=2.3, Monounsaturated Fats=0.9, Polyunsaturated Fats=0.0, Carbohydrates=0.9, Sugars=3.4, Protein=0.8, Dietary Fiber=0.1, Cholesterol=0.0, Sodium=0.0, Water=0.0, Vitamin A=0.0, Vitamin B1=0.0, Vitamin B11=0.0, Vitamin B12=0.0, Vitamin B2=0.0, Vitamin B3=0.0, Vitamin B5=0.0, Vitamin B6=0.0, Vitamin C=0.0, Vitamin D=0.0, Vitamin E=0.0, Vitamin K=0.0, Calcium=0.0, Copper=0.0, Iron=0.0, Magnesium=0.0, Manganese=0.0, Phosphorus=0.0, Potassium=0.0, Selenium=0.0, Zinc=0.0, Nutrition Density=5.4)]

In [16]:
# Selecting a column from the dataframe 

df.select('food').show(5)

+--------------------+
|                food|
+--------------------+
|        cream cheese|
|   neufchatel cheese|
|requeijao cremoso...|
|      ricotta cheese|
|cream cheese low fat|
+--------------------+
only showing top 5 rows

In [18]:
# Selecting two columns from the dataframe 

df.select('food', 'Caloric Value').show(5)

+--------------------+-------------+
|                food|Caloric Value|
+--------------------+-------------+
|        cream cheese|           51|
|   neufchatel cheese|          215|
|requeijao cremoso...|           49|
|      ricotta cheese|           30|
|cream cheese low fat|           30|
+--------------------+-------------+
only showing top 5 rows

In [20]:
# Droping unwanted row from datafrmae

df.drop('_c0', 'Unnamed: 0').show(2)

+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
|             food|Caloric Value| Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper| Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium| Zinc|Nutrition Density|
+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
|     cream cheese|           51| 5.0|           2.9|                 1.3|                 0.2|          0.8|   0.5|    0.9|          0.0|       14.6| 0.016|  7.6|      0.2|     0.033|      0.064|      0.092|     0.097|     0.084|     0.052|     0.096|    0.004|      0.0|      0.0|      0.1|  0.008|  14.1|0.082|    0.027|      1.3|     0.091|     15.5|    19.1|0.039|             7.07|
|neufchatel cheese|          215|19.4|          10.9|                 4.9|                 0.8|          3.1|   2.7|    7.8|          0.0|       62.9|   0.3| 53.6|      0.2|     0.099|      0.079|       0.09|       0.1|       0.2|       0.5|     0.078|      0.0|      0.0|      0.3|    0.045|   99.5| 0.034|  0.1|      8.5|    0.088|     117.3|    129.2|   0.054|  0.7|            130.1|
+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+
only showing top 2 rows

In [21]:
# Convert spark dataframe to Pandas dataframe

df.toPandas().head()

,_c0,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,1,1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,2,2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,3,3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,4,4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007

In [22]:
# Conversion of the whole dataframe in pandas can be costly. 
# If the interest is to only look at the head we can do the following. 

df.limit(5).toPandas()

,_c0,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,1,1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,2,2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,3,3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,4,4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007

In [23]:
# It is possibel to view dataframe vertically as well

df.show(n=2, vertical=True)

-RECORD 0---------------------------------
 _c0                  | 0
 Unnamed: 0           | 0
 food                 | cream cheese
 Caloric Value        | 51
 Fat                  | 5.0
 Saturated Fats       | 2.9
 Monounsaturated Fats | 1.3
 Polyunsaturated Fats | 0.2
 Carbohydrates        | 0.8
 Sugars               | 0.5
 Protein              | 0.9
 Dietary Fiber        | 0.0
 Cholesterol          | 14.6
 Sodium               | 0.016
 Water                | 7.6
 Vitamin A            | 0.2
 Vitamin B1           | 0.033
 Vitamin B11          | 0.064
 Vitamin B12          | 0.092
 Vitamin B2           | 0.097
 Vitamin B3           | 0.084
 Vitamin B5           | 0.052
 Vitamin B6           | 0.096
 Vitamin C            | 0.004
 Vitamin D            | 0.0
 Vitamin E            | 0.0
 Vitamin K            | 0.1
 Calcium              | 0.008
 Copper               | 14.1
 Iron                 | 0.082
 Magnesium            | 0.027
 Manganese            | 1.3
 Phosphorus           | 0.091
 Potassium            | 15.5
 Selenium             | 19.1
 Zinc                 | 0.039
 Nutrition Density    | 7.07
-RECORD 1---------------------------------
 _c0                  | 1
 Unnamed: 0           | 1
 food                 | neufchatel cheese
 Caloric Value        | 215
 Fat                  | 19.4
 Saturated Fats       | 10.9
 Monounsaturated Fats | 4.9
 Polyunsaturated Fats | 0.8
 Carbohydrates        | 3.1
 Sugars               | 2.7
 Protein              | 7.8
 Dietary Fiber        | 0.0
 Cholesterol          | 62.9
 Sodium               | 0.3
 Water                | 53.6
 Vitamin A            | 0.2
 Vitamin B1           | 0.099
 Vitamin B11          | 0.079
 Vitamin B12          | 0.09
 Vitamin B2           | 0.1
 Vitamin B3           | 0.2
 Vitamin B5           | 0.5
 Vitamin B6           | 0.078
 Vitamin C            | 0.0
 Vitamin D            | 0.0
 Vitamin E            | 0.3
 Vitamin K            | 0.045
 Calcium              | 99.5
 Copper               | 0.034
 Iron                 | 0.1
 Magnesium            | 8.5
 Manganese            | 0.088
 Phosphorus           | 117.3
 Potassium            | 129.2
 Selenium             | 0.054
 Zinc                 | 0.7
 Nutrition Density    | 130.1
only showing top 2 rows

In [25]:
# By default the data is orderd by country. 
# Here is a method to order by different column. 

df.orderBy('Nutrition Density', ascending=False).show(2)

+---+----------+--------------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
|_c0|Unnamed: 0|                food|Caloric Value| Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper|Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium|Zinc|Nutrition Density|
+---+----------+--------------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
| 35|        35|      mexican cheese|          316|21.7|          13.0|                 5.6|                 0.8|          3.8|   0.6|   27.7|          0.0|       69.4|   0.9| 54.0|      0.2|     0.091|      0.027|       0.05|       0.3|     0.017|       0.0|      0.04|      0.0|    0.087|      0.2|    0.073| 1283.5| 0.034| 0.1|     39.2|      0.0|     653.0|    104.2|   0.006| 4.8|           1337.0|
| 37|        37|mozzarella cheese...|          159| 0.0|           0.0|                 0.0|                 0.0|          4.0|   1.7|   35.8|          2.0|       20.3|   0.8| 68.0|      0.1|     0.079|      0.011|      0.025|       0.3|       0.1|       0.0|     0.055|      0.0|      0.0|      0.2|    0.018| 1085.9| 0.077| 0.4|     37.3|      0.0|     741.3|    119.8|   0.035| 4.4|           1128.2|
+---+----------+--------------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
only showing top 2 rows

In [26]:
# Descriptive statistics of 'Sugars', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11'

df.describe('Sugars', 'Water', 'Vitamin A', 'Vitamin B1', 'Vitamin B11').show()

+-------+------------------+-----------------+-------------------+-------------------+-------------------+
|summary|            Sugars|            Water|          Vitamin A|         Vitamin B1|        Vitamin B11|
+-------+------------------+-----------------+-------------------+-------------------+-------------------+
|  count|               551|              551|                551|                551|                551|
|   mean|2.7089074410163367|101.6586987295825|0.07996914700544476|0.15500181488203263|0.06567332123411986|
| stddev| 7.455666228907502|88.50171005801361| 0.1675361045240377| 0.2100000909012146|0.09187969602417505|
|    min|               0.0|              0.0|                0.0|                0.0|                0.0|
|    max|              70.8|            535.8|                2.1|                1.9|                1.3|
+-------+------------------+-----------------+-------------------+-------------------+-------------------+

In [27]:
# If we want two statistical measure simultaneously we can not 
# do it in this way. We will see how to do that sortly. 

df.agg({'Nutrition Density':'mean'}).show()

+----------------------+
|avg(Nutrition Density)|
+----------------------+
|    144.66320689655174|
+----------------------+

In [31]:
# summary() is similar to the describe() but it is more versatile 
# and it has more functionality as we see below. 

df.select('Nutrition Density', 'Caloric Value', 'Fat', 'Protein', 'Carbohydrates', 'Dietary Fiber').summary().show()

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary| Nutrition Density|     Caloric Value|               Fat|           Protein|     Carbohydrates|    Dietary Fiber|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|               551|               551|               551|               551|               551|              551|
|   mean|144.66320689655174|237.35934664246824|10.766932849364785|18.417856624319416|15.819036297640665|1.098145190562614|
| stddev| 187.0476228328469|199.23559762874058| 12.54419645258066|18.932403570678556| 20.28931962151848|2.156680591845952|
|    min|             1.025|                 3|               0.0|               0.0|               0.0|              0.0|
|    25%|              39.8|                94|               2.5|               5.3|               0.0|              0.0|
|    50%|              84.1|               186|               6.6|              11.9|               5.1|              0.0|
|    75%|           171.757|               338|              14.4|              25.8|              28.7|              1.5|
|    max|            1337.0|              1578|              87.5|              86.9|             128.3|             17.5|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+

In [32]:
# This is to calculate the percentiles from the dataframe
# First entry is the column name from which these calculations are made. 
# Second is the list of percentiles we calculate. 0.5 means 50th and so on. 
# Last entry means accuracy. 0.01 means accurate upto two places in decimal. 

df.approxQuantile('Nutrition Density', [0.25, 0.5, 0.75], 0.01)

[38.5, 82.88, 167.2]

In [33]:
# This calculates the frequency and its repeatition 

df.freqItems(['Nutrition Density'], 0.01).show()

+---------------------------+
|Nutrition Density_freqItems|
+---------------------------+
|       [23.044, 58.197, ...|
+---------------------------+

In [35]:
# This claculates the correlation between two columns

df.corr('Caloric Value', 'Fat')

0.9090236029444221

In [37]:
# To take random sample from the dataframe. 
# The first boolean is for weather or not to make replacement in smapling.
# Second flooat is to indicate what fraction of populations to take in sample. 

df_sample = df.sample(False, 0.01)
df_sample.show(2)

+---+----------+------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+-----+-----------------+
|_c0|Unnamed: 0|        food|Caloric Value|Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper|Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium| Zinc|Nutrition Density|
+---+----------+------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+-----+-----------------+
|526|       526|shrimp fried|           52|3.2|           0.7|                 2.0|                 0.3|          4.8| 0.086|    1.3|          0.1|        9.9|   0.2|  7.2|     0.01|     0.037|      0.029|      0.075|     0.065|       0.2|       0.0|     0.021|      0.0|      0.0|      0.4|     0.04|    4.9| 0.012| 0.1|      2.7|    0.015|      31.5|     13.9|   0.021|0.069|           14.433|
+---+----------+------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+-----+-----------------+

In [38]:
# distinct() removes the repeatition in the selection 

countries = df.select('food').distinct()
countries.show(10)

+--------------------+
|                food|
+--------------------+
|   refried red beans|
|     mackerel cooked|
|pepper jack chees...|
|       fruit burrito|
|            pout raw|
|chicken box mcdon...|
|atlantic croaker ...|
|   pupusas del cerdo|
|split pea soup wi...|
|      chips chipotle|
+--------------------+
only showing top 10 rows

In [39]:
# We can sort the dataframe by selected column name 

countries.sort('food').show(10)

+--------------------+
|                food|
+--------------------+
|             abalone|
|alaska king crab ...|
|alaska king crab raw|
|american cheese s...|
|american shad cooked|
|   american shad raw|
|anchovy canned in...|
|         anchovy raw|
|        anejo cheese|
|        apple butter|
+--------------------+
only showing top 10 rows

In [41]:
# Now we can count the total number of countries 

df.select('food').count()

551

In [42]:
# We can group the dataframe by entries of the selected columns 
# Usually we want to perfrom some descriptive measurement after 
# grouping them together. 

df.groupBy('food', 'Nutrition Density').count().show(4)

+------------+-----------------+-----+
|        food|Nutrition Density|count|
+------------+-----------------+-----+
|      tahini|             78.6|    1|
|swiss cheese|          237.396|    1|
|  taco salad|            189.0|    1|
|     lasagna|           36.675|    1|
+------------+-----------------+-----+
only showing top 4 rows

In [43]:
# We can do multiple measurement after grouping 

df.groupBy('food').mean('Nutrition Density', 'Caloric value').show(5)

+--------------------+----------------------+------------------+
|                food|avg(Nutrition Density)|avg(Caloric value)|
+--------------------+----------------------+------------------+
|   refried red beans|                 156.2|             336.0|
|     mackerel cooked|                51.733|             231.0|
|pepper jack chees...|                  13.5|              75.0|
|       fruit burrito|                  64.3|             231.0|
|            pout raw|                98.078|             278.0|
+--------------------+----------------------+------------------+
only showing top 5 rows

In [44]:
# We can also group the dataframe by multiple columns 

df.groupBy('Nutrition Density', 'Caloric Value', 'Fat', 'Protein', 'Carbohydrates', 'Dietary Fiber').count().show(4)

+-----------------+-------------+----+-------+-------------+-------------+-----+
|Nutrition Density|Caloric Value| Fat|Protein|Carbohydrates|Dietary Fiber|count|
+-----------------+-------------+----+-------+-------------+-------------+-----+
|           381.08|          316|13.0|   15.9|         33.6|          4.1|    1|
|           35.955|          162| 2.4|   33.1|          0.0|          0.0|    1|
|            3.739|            8| 0.3|    0.6|          0.6|          0.0|    1|
|            102.8|          404|14.0|   65.2|          0.0|          0.0|    1|
+-----------------+-------------+----+-------+-------------+-------------+-----+
only showing top 4 rows

In [47]:
# Here is another selection using filter with two conditions. 

df.filter((df['Fat'] > 20) & (df['Nutrition Density']>500)).show(4)

+---+----------+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
|_c0|Unnamed: 0|             food|Caloric Value| Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper|Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium|Zinc|Nutrition Density|
+---+----------+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
| 11|        11|port salut cheese|          465|37.2|          22.0|                12.3|                 1.0|          0.8|   0.8|   31.4|          0.0|      162.4|   0.7| 60.0|      0.4|     0.012|      0.035|      0.067|       0.3|     0.019|       0.3|      0.08|      0.0|    0.057|      0.3|    0.094|  858.0| 0.062| 0.6|     31.7|    0.095|     475.2|    179.5|   0.015| 3.4|            928.4|
| 17|        17|   gjetost cheese|         1058|67.0|          43.5|                17.9|                 2.1|         96.8|   0.0|   21.9|          0.0|      213.4|   1.4| 30.5|      0.8|       0.7|      0.076|      0.047|       3.1|       1.8|       7.6|       0.6|      0.0|      0.0|      0.0|      0.0|  908.0|   0.2| 1.2|    158.9|    0.035|    1007.9|   3198.4|   0.039| 2.6|           1095.7|
| 21|        21|   asadero cheese|          402|31.9|          20.3|                 9.1|                 1.0|          3.2|   3.2|   25.5|          0.0|      118.7|   0.7| 47.6|    0.098|     0.034|      0.005|      0.043|       0.3|       0.2|       0.3|     0.024|      0.0|    0.071|      0.3|     0.02|  746.9| 0.067| 0.6|     29.4|    0.024|     500.6|     97.2|   0.096| 3.4|          808.175|
| 24|        24| roquefort cheese|          314|26.0|          16.4|                 7.2|                 1.1|          1.7|   0.0|   18.3|          0.0|       76.5|   1.5| 33.5|      0.2|     0.092|      0.037|      0.002|       0.5|       0.6|       1.5|       0.1|      0.0|      0.0|      0.0|      0.0|  562.7| 0.005| 0.5|     25.5|    0.036|     333.2|     77.4|   0.081| 1.8|            609.4|
+---+----------+-----------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
only showing top 4 rows

In [51]:
# We can use descriptive measure on the filtered data

df.filter(df['Nutrition Density']>=1000).describe('Nutrition Density', 'Caloric Value', 'Fat', 'Protein', 'Carbohydrates', 'Dietary Fiber').show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+
|summary| Nutrition Density|     Caloric Value|               Fat|           Protein|     Carbohydrates|     Dietary Fiber|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+
|  count|                 7|                 7|                 7|                 7|                 7|                 7|
|   mean|          1098.941|503.14285714285717|29.157142857142862| 44.04285714285714|15.557142857142855|0.2857142857142857|
| stddev|113.18650212665236|  278.027833481607|20.980932386562895|24.361845656877552|35.862229766280905|0.7559289460184545|
|    min|            1019.4|               159|               0.0|              21.9|               0.0|               0.0|
|    max|            1337.0|              1058|              67.0|              79.1|              96.8|               2.0|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+

In [53]:
# Here is a more complex one

df.filter(df['Nutrition Density']>=1000).select('Protein').summary().show()

+-------+------------------+
|summary|           Protein|
+-------+------------------+
|  count|                 7|
|   mean| 44.04285714285714|
| stddev|24.361845656877552|
|    min|              21.9|
|    25%|              27.7|
|    50%|              33.8|
|    75%|              79.1|
|    max|              79.1|
+-------+------------------+

In [54]:
# Even more complex 

df.filter(df['Nutrition Density']>=1000).select('Fat').summary('mean', 'stddev').show()

+-------+------------------+
|summary|               Fat|
+-------+------------------+
|   mean|29.157142857142862|
| stddev|20.980932386562895|
+-------+------------------+

In [55]:
# where is same as filter 

df.where(df['Nutrition Density']>=1000).summary('count').show()

+-------+---+----------+----+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
|summary|_c0|Unnamed: 0|food|Caloric Value|Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper|Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium|Zinc|Nutrition Density|
+-------+---+----------+----+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+
|  count|  7|         7|   7|            7|  7|             7|                   7|                   7|            7|     7|      7|            7|          7|     7|    7|        7|         7|          7|          7|         7|         7|         7|         7|        7|        7|        7|        7|      7|     7|   7|        7|        7|         7|        7|       7|   7|                7|
+-------+---+----------+----+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+----+---------+---------+----------+---------+--------+----+-----------------+

In [58]:
# this provides an option to apply a function in the dataframe.

from pyspark.sql import SparkSession  
from pyspark.sql import functions as F

In [60]:
# First we create a function 

# Define the classification function using Spark SQL functions  
def classify_nutrition_density(nutrition_density):  
    return (  
        F.when(nutrition_density < 250, 'less nutritional value')  
        .when((nutrition_density >= 250) & (nutrition_density < 1000), 'moderate nutritional value')  
        .otherwise('High nutritional value')  
    )  

# Apply the function to create a new column in the DataFrame  
df_with_classification = df.withColumn("Nutritional Value", classify_nutrition_density(df["Nutrition Density"]))  

# Show the results  
df_with_classification.show(4)

+---+----------+--------------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+--------------------+
|_c0|Unnamed: 0|                food|Caloric Value| Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper| Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium| Zinc|Nutrition Density|   Nutritional Value|
+---+----------+--------------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+--------------------+
|  0|         0|        cream cheese|           51| 5.0|           2.9|                 1.3|                 0.2|          0.8|   0.5|    0.9|          0.0|       14.6| 0.016|  7.6|      0.2|     0.033|      0.064|      0.092|     0.097|     0.084|     0.052|     0.096|    0.004|      0.0|      0.0|      0.1|  0.008|  14.1|0.082|    0.027|      1.3|     0.091|     15.5|    19.1|0.039|             7.07|less nutritional ...|
|  1|         1|   neufchatel cheese|          215|19.4|          10.9|                 4.9|                 0.8|          3.1|   2.7|    7.8|          0.0|       62.9|   0.3| 53.6|      0.2|     0.099|      0.079|       0.09|       0.1|       0.2|       0.5|     0.078|      0.0|      0.0|      0.3|    0.045|   99.5| 0.034|  0.1|      8.5|    0.088|     117.3|    129.2|   0.054|  0.7|            130.1|less nutritional ...|
|  2|         2|requeijao cremoso...|           49| 3.6|           2.3|                 0.9|                 0.0|          0.9|   3.4|    0.8|          0.1|        0.0|   0.0|  0.0|      0.0|       0.0|        0.0|        0.0|       0.0|       0.0|       0.0|       0.0|      0.0|      0.0|      0.0|      0.0|    0.0|   0.0|  0.0|      0.0|      0.0|       0.0|      0.0|     0.0|  0.0|              5.4|less nutritional ...|
|  3|         3|      ricotta cheese|           30| 2.0|           1.3|                 0.5|               0.002|          1.5| 0.091|    1.5|          0.0|        9.8| 0.017| 14.7|    0.075|     0.019|      0.079|      0.091|     0.027|     0.041|     0.016|     0.007|    0.006|      0.0|    0.001|    0.011|  0.097|  41.2|0.097|    0.096|      4.0|     0.024|     30.8|    43.8|0.035|            5.196|less nutritional ...|
+---+----------+--------------------+-------------+----+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+-----+-----------------+--------------------+
only showing top 4 rows

In [62]:
# We can split the dataset in the given fraction 
# This can be useful for cross validation 

train, valid, test = df.randomSplit([3.0, 1.0, 1.0], 42)

In [63]:
test.show(3)

+---+----------+--------------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+----+-----------------+
|_c0|Unnamed: 0|                food|Caloric Value|Fat|Saturated Fats|Monounsaturated Fats|Polyunsaturated Fats|Carbohydrates|Sugars|Protein|Dietary Fiber|Cholesterol|Sodium|Water|Vitamin A|Vitamin B1|Vitamin B11|Vitamin B12|Vitamin B2|Vitamin B3|Vitamin B5|Vitamin B6|Vitamin C|Vitamin D|Vitamin E|Vitamin K|Calcium|Copper| Iron|Magnesium|Manganese|Phosphorus|Potassium|Selenium|Zinc|Nutrition Density|
+---+----------+--------------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+----+-----------------+
|  2|         2|requeijao cremoso...|           49|3.6|           2.3|                 0.9|                 0.0|          0.9|   3.4|    0.8|          0.1|        0.0|   0.0|  0.0|      0.0|       0.0|        0.0|        0.0|       0.0|       0.0|       0.0|       0.0|      0.0|      0.0|      0.0|      0.0|    0.0|   0.0|  0.0|      0.0|      0.0|       0.0|      0.0|     0.0| 0.0|              5.4|
|  6|         6|      gruyere cheese|          116|9.1|           5.3|                 2.8|                 0.5|          0.1|   0.1|    8.3|          0.0|       30.8|   0.2|  9.3|    0.061|     0.021|      0.072|      0.078|     0.004|     0.043|       0.2|     0.051|      0.0|    0.034|    0.035|    0.048|  283.1| 0.033|0.094|     10.1|    0.002|     169.4|     22.7|   0.079| 1.1|          300.694|
|  8|         8|     parmesan cheese|           71|4.5|           2.7|                 1.4|                 0.1|          0.6| 0.046|    6.4|          0.0|       12.2|   0.2|  5.4|    0.067|     0.062|      0.099|      0.059|     0.057|     0.039|      0.06|     0.066|      0.0|    0.095|    0.018|    0.021|  213.1| 0.051|  0.1|      7.9|    0.073|     124.9|     16.6|   0.045| 0.5|          224.777|
+---+----------+--------------------+-------------+---+--------------+--------------------+--------------------+-------------+------+-------+-------------+-----------+------+-----+---------+----------+-----------+-----------+----------+----------+----------+----------+---------+---------+---------+---------+-------+------+-----+---------+---------+----------+---------+--------+----+-----------------+
only showing top 3 rows